@font-face {
    font-family: 'primeicons';
    font-display: block;
    src: url('/static/fonts/primeicons.eot');
    src:
        url('/static/fonts/primeicons.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/primeicons.woff2') format('woff2'),
        url('/static/fonts/primeicons.woff') format('woff'),
        url('/static/fonts/primeicons.ttf') format('truetype'),
        url('/static/fonts/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
