# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
staticfiles/
plataforma/config/static/assets/
plataforma/config/static/manifest.json
plataforma/secret.json

# Backup files #
*.bak

# IDEs & Editors #
# JetBrains
.idea/
*.iws
*.iml
out/

# VS Code
.vscode/
*.code-workspace
.history/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Python #
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints
.python-version

# Environments #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific #
*.seeded
celerybeat-schedule.*
dump.rdb
.ds_store

# Node/Frontend #
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
plataforma/config/static/