version: '3.8'

services:
  web:
    build: .
    restart: always
    networks:
      - app_network
    volumes:
      - ../files/static:/app/plataforma/config/static
      - ../files/media:/app/plataforma/config/media
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
      - REDIS_URL=redis://redis:6379/0
    expose:
      - "8000"
    depends_on:
      - redis

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - ../files/static:/var/www/plataforma/config/static
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - ../files/redis:/data
    command: redis-server --appendonly yes
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
