version: '3.8'

services:
  web:
    build: .
    restart: always
    networks:
      - app_network
    volumes:
      # Volumen compartido para archivos estáticos
      - static_files:/app/plataforma/config/static
      - media_files:/app/plataforma/config/media
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
      - REDIS_URL=redis://redis:6379/0
    expose:
      - "8000"
    depends_on:
      - redis

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - web
    volumes:
      # Mismo volumen que usa web para estáticos
      - static_files:/var/www/plataforma/config/static
      - media_files:/var/www/plataforma/config/media
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app_network

volumes:
  static_files:
  media_files:
  redis_data:

networks:
  app_network:
    driver: bridge
